[submodule "wingetopt"]
	path = wingetopt
	url = https://github.com/alex85k/wingetopt.git
[submodule "dcmt"]
	path = dcmt
	url = https://github.com/MersenneTwister-Lab/dcmt.git
[submodule "ranger"]
	path = ranger
	url = https://github.com/imbs-hl/ranger.git
